<center>
  <div class="contents">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <h1 class="col-xs-1 col-md-offset-3 col-md-6">ブログ一覧</h1>
        <p class="col-xs-1 col-md-offset-3 col-md-6"><%= notice %></p>
      </div>
      <div class="col-xs-12 col-md-12">
        <div class="col-xs-1 col-md-offset-4 col-md-2">タイトル</div>
        <div class="col-xs-1 col-md-2" >内容</div>
      </div>
      <div class="col-xs-12 col-md-12">
        <% @blog.each do |blog| %>
        <div class="col-xs-12 col-md-12"> 
          <div class="col-xs-1 col-md-offset-4 col-md-2"><%= blog.title %></div>
          <div class="col-xs-1 col-md-2"><%= blog.content %></div>
        </div>
        <div class="col-xs-12 col-md-12">
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default col-xs-1 col-md-4"><%= link_to '確認', blog_path(blog.id) %></button>
            <button type="button" class="btn btn-default col-xs-1 col-md-4"><%= link_to "編集", edit_blog_path(blog.id), data: { confirm: '本当に編集していいですか？' } %></button>
            <button type="button" class="btn btn-default col-xs-1 col-md-4"><%= link_to '削除', blog_path(blog.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></button>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <br>
  <button type="button" class="btn btn-default col-xs-1 col-md-offset-5 col-md-2"><%= link_to '投稿', new_blog_path %></button>
</center>