<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= contact.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :contact_content %>
  </div>
  <% if logged_in? %>
    <div class="actions">
      <%= form.submit %>
    </div>
  <% else %>
    <button type="button" class="btn btn-default"><%= link_to 'go to login', new_session_path %></button>
  <% end %>
<% end %>
