<!DOCTYPE html>
<html>
  <head>
    <title>Rails2</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav class="navbar navbar-default">
    <div class="btn-group">
      <button type="button" class="btn btn-default">Bootstrap</button>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="/tops">トップ</a></li>
        <li><a href="/blogs">blogs</a></li>
        <li><a href="/favorites">favorites</a></li>
        <!--<li><a href="/letter_opener">letter_opener</a></li>-->
      </ul>
    </div>
  </nav>
  <body>
    
    <div class="col-xs-12 col-md-12">
      <div class="btn-group" role="group" aria-label="...">
      <% if logged_in? %>
        <button type="button" class="btn btn-default col-xs-6 col-md-6"><%= link_to "Profile", user_path(current_user.id) %></button>
        <button type="button" class="btn btn-default col-xs-6 col-md-6"><%= link_to "Logout", session_path(current_user.id), method: :delete %></button>
      <% else %>
        <button type="button" class="btn btn-default col-xs-6 col-md-6"><%= link_to "Sign up", new_user_path %></button>
        <button type="button" class="btn btn-default col-xs-6 col-md-6"><%= link_to "Login", new_session_path %></button>
      <% end %>
      </div>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
      <div class="yields">
        <%= yield %>
      </div>
    </div>
    <footer class="footer">
      <p>songtaekeun</p>
    </footer>
  </body>
</html>
